<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="2.5"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>do</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>3</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>do</servlet-name>
		<url-pattern>*.do</url-pattern>

	</servlet-mapping>
	<filter>
		<filter-name>setCharEncoding</filter-name>
		<filter-class>com.use9.log.filter.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
		<init-param>
			<param-name>enable</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>setCharEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>login_Filter</filter-name>
		<filter-class>com.use9.log.filter.CheckAdmin</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>login_Filter</filter-name>
		<url-pattern>/use9_admin/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>login_Filter1</filter-name>
		<filter-class>com.use9.log.filter.CheckAdmin</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>login_Filter1</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>

